.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

.flex_flexOne {
    display: flex;
}

.flex_flexOne > .square {
    margin: 5px;
    justify-content: space-evenly;
}

.flex_flexTwo {
    display: flex;
    flex-direction: column;
}

.flex_flexTwo > .square {
    margin: 2px;
}

.flex_flexThree {
    display: flex;
    flex-direction: row-reverse;
}

.flex_flexThree > .square {
    margin: 2px;
}

.flex_flexFour {
    display: flex;
    width: 350px;
    background-color: #3d8b6d;

}